<ion-header class="ion-no-border">
  <ion-toolbar class="menuPhone">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="row" style="margin-top: 10%;">
    <div class="column">
      <h3 class="textCat">
        <span>ARt</span>
        Paintings
      </h3>
      <div id="container" class="ion-padding">
        <model-viewer alt="PruebaRobot"
          src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/modelos%2F6CSZoM4ZApbHFBJyyxYDwVKHFpA2%2Fpainting1glb.glb?alt=media&token=a8196e18-fa61-49e3-a8c5-27ca6195b57b"
          ios-src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/modelos%2F6CSZoM4ZApbHFBJyyxYDwVKHFpA2%2Fpainting1usdz.usdz?alt=media&token=cef412b3-b35d-458c-a3e9-afccb8b69da0"
          ar unestable-webxr quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto"
          auto-rotate ar magic-leap camera-controls>
        </model-viewer>
      </div>
    </div>
    <div class="column">
      <ion-list *ngFor="let o of obras">
        <ion-card class="ion-no-margin" routerLink="/articulo/{{o.uid}}/{{o.id}}" style="background-color: none;">
          <div class="artists">
            <img src="{{o.imagenObra}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{o.nombre}}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">${{o.precio}}</ion-card-subtitle>

        </ion-card>
      </ion-list>
    </div>
  </div>



</ion-content>
