<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row" style="margin-top: 5%;">
    <div class="column logoPhone">
      <img src="assets/logo.png" style="
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      padding-top: 20%;
    " alt="" />
    </div>
    <div class="column logoDesktop">
      <div id="container" class="ion-padding">
        <model-viewer alt="PruebaRobot" src="/assets/mantaraya.glb" ios-src="/assets/mantaraya.usdz" ar unestable-webxr
          quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto" auto-rotate ar magic-leap
          camera-controls>
        </model-viewer>
      </div>
    </div>
    <div class="column">

      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            <div style="text-align: center;">
              <h2 style="font-family: proxima-nova, sans-serif;
              font-weight: 600;   color: #6361ea;">Cambiar Contraseña</h2>
            </div>
            <div class="ion-padding" style="padding-top: 10%;">
              <ion-item class=" info">
                <ion-label position="stacked">Escribe tu email registrado</ion-label>

                <ion-input name="Password" type="email" placeholder="Email" [(ngModel)]="email">
                </ion-input>
                <ion-note slot="error">Email is invalid
                </ion-note>
              </ion-item>
            </div>
            <div style="margin-top: 5%;">
              <ion-button expand="block" (click)="contrasena(email)">Cambiar
                contraseña
              </ion-button>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>
