<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="preview">
    <ion-avatar>
      <img *ngIf="profile?.imageUrl" [src]="profile.imageUrl" />
      <ng-template #placheolder_avatar>
        <div class="fallback">
          <p style="text-align: center;">Subir imagen de perfil</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>
  <ion-row>
    <ion-button (click)="abrirModalImagen()" class="modal" size="large" expand="block">
      Cambiar foto de perfil
    </ion-button>
  </ion-row>




  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername" *ngIf="profile?.name && profile?.lastname">{{profile.name}}
        {{profile.lastname}}</h3>
      <h5 class="country" *ngIf="profile?.country"> {{profile.country}}</h5>
      <div class="frase">

        <ion-input (keyup)="getValue(box.value)" #box name="frase" *ngIf="profile?.frase" type="text"
          placeholder="'{{profile.frase}}'">

        </ion-input>
      </div>


      <ion-row>
        <ion-button (click)="updateFrase()" class="modal" size="medium">
          Actualizar frase
        </ion-button>
      </ion-row>
    </div>

  </div>



  <div class="infoform">
    <div>
      <form>

        <ion-grid>

          <ion-row color="primary" justify-content-center>

            <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
              <h5 class="info"> Información</h5>
              <div class="ion-padding">

                <ion-item>

                  <ion-input style="margin-left: auto; margin-right: auto;" *ngIf="profile?.cedula" disabled="true"
                    name="Cedula" type="number">
                    <ion-icon class="ion-padding" slot="icon-only" name="card-outline" style="color: #6361ea">
                    </ion-icon>
                    {{profile.cedula}}
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input *ngIf="profile?.email" disabled="true" name="Email" type="email">
                    <ion-icon class="ion-padding" slot="icon-only" name="mail-outline" style="color: #6361ea">
                    </ion-icon>
                    {{profile.email}}
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input *ngIf="profile?.phonenumber" disabled="true" name="Telefono" type="number">
                    <ion-icon class="ion-padding" slot="icon-only" name="call-outline" style="color: #6361ea">
                    </ion-icon>
                    {{profile.phonenumber}}
                  </ion-input>
                </ion-item>



              </div>
            </ion-col>

          </ion-row>
        </ion-grid>


        <ion-row>


          <div class="ion-padding" style="margin-left: auto; margin-right: auto;">
            <ion-button class="ion-text-capitalize" (click)="onClickMyArt()" color="tertiary">Mi ARte</ion-button>
          </div>
          <div class=" ion-padding" style="margin-left: auto; margin-right: auto;">
            <ion-button class="ion-text-capitalize" (click)="logout()">Cerrar sesión</ion-button>
          </div>
        </ion-row>
      </form>
    </div>

  </div>

</ion-content>
