#container a {
    text-decoration: none;
  }
  #container {
    text-align: center;
    width: 90%;
    height: 57vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12% ;
  }
  
  model-viewer {
    width: 90%;
    height: 55vh;
    margin-right: auto;
    margin-left: auto;
  }
  
  .planes{
    
        text-align: center;
      
        overflow: hidden;
        margin-top: 2%;
        margin-bottom: 2%;
        box-shadow:none !important;
      border-radius: 0%;
      width: 100%;
      position: center;
      object-fit: cover;
  }