<app-header titulo="Robot AR"></app-header>
<ion-content>
  <div id="container">
    <!-- <iframe id="meshmorph-frame" width="100%" height="100%" frameborder="0"
    src="https://meshmorph.com/embed/rolivo/meshmorph-ballena-v5?interaction-prompt=true&info-panel=true&environment-type=studio&environment-exposure=1&progress-bar-color=0x4b8cce&background-transparent=false&show-poster-image=true&poster-background-color=0xffffff%22%3E"></iframe> -->
    <!-- <iframe id="mm-iframe" width="100%" height="100%" frameborder="0" src="https://prod.meshmorph.com/iframe/embed/3059e67a-c736-423f-8517-b867fe1a8a14"></iframe> -->
    <model-viewer alt="PruebaRobot" src="/assets/robotMain.glb" ios-src="/assets/robotMain.usdz" ar unestable-webxr
      quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto" auto-rotate ar magic-leap
      camera-controls>
    </model-viewer>
  </div>






</ion-content>
