<ion-header class="ion-no-border">
  <ion-toolbar class="menuPhone">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="row" style="margin-top: 10%;">
    <div class="column">
      <h3 class="textCat">
        <span>ARt</span>
        Sculptures
      </h3>
      <div id="container" class="ion-padding">
        <model-viewer alt="Careta"
          src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FModelosVariosFree%2Fcareta.glb?alt=media&token=d08de058-d59b-4a31-bcd2-569092822cbd"
          ios-src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FModelosVariosFree%2Fcareta.usdz?alt=media&token=ad8f2c2f-3a55-420f-ada7-582f1775de50"
          ar unestable-webxr quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto"
          auto-rotate ar magic-leap camera-controls>
        </model-viewer>
      </div>
    </div>
    <div class="column">
      <ion-list *ngFor="let s of notes">
        <ion-card class="ion-no-margin" [routerLink]="['/articulo', notes.id]" style="background-color: none;">
          <div class="artists">
            <img src="{{s.imagen}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{s.nombre}}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">${{s.precio}}</ion-card-subtitle>

        </ion-card>
      </ion-list>
    </div>
  </div>



</ion-content>
