<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div style="margin-top: 7%;">
    <h3 class="textCatPri">
      <span>Subir</span>
      tu obra
    </h3>
  </div>

  <h4 class="textCat">Espacios disponibles: <span>{{puestos}}</span></h4>

  <div class="ion-padding">

    <ion-button id="subir" size="large" expand="block" (click)="abrirModalSubir()">
      <div class="subirObra">
        Subir Obra

      </div>
    </ion-button>
    <ion-button size="large" expand="block" (click)="addPunto()">
      <div class="subirObra">
        add

      </div>
    </ion-button>
  </div>
  <h2 class="subscripciones">Subscripciones</h2>

  <ion-list class="planesPhone">
    <ion-card class="planes ion-no-margin" style="background-color: #56B4E5">
      <ion-card-header>
        <ion-card-title class="ion-padding" style="color: white; font-weight: 600; ">PLAN POR OBRA</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: white;">
        <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

          <ion-card-title class="ion-padding" style="color:#6361ea ;">$5</ion-card-title>
        </ion-card>
        El plan por obra te permite subir tu modelo 3D y se te cobrará mensualmente mientras la obra esté exhibida
        <div>
          <ion-button size="large" class="ion-padding botonesComprar">Comprar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="planes ion-no-margin" style="background-color: #FDB807">
      <ion-card-header>
        <ion-card-title class="ion-padding" style="color: white; font-weight: 600;">PLAN MENSUAL</ion-card-title>

      </ion-card-header>
      <ion-card-content style="color: white;">
        <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

          <ion-card-title class="ion-padding" style="color:#6361ea ;">$20</ion-card-title>
        </ion-card>

        El plan mensual te permite tener 5 obras activas y se te cobrará mensualmente
        <div>
          <ion-button size="large" class="ion-padding botonesComprar" (click)="abrirModalMensual()">Comprar
          </ion-button>
        </div>

      </ion-card-content>

    </ion-card>
    <ion-card class="planes ion-no-margin" style="background-color: #E05497">
      <ion-card-header>
        <ion-card-title class="ion-padding" style="color: white; font-weight: 600; ">PLAN GALERIA</ion-card-title>

      </ion-card-header>
      <ion-card-content style="color: white;">
        <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

          <ion-card-title class="ion-padding" style="color:#6361ea ;">$40</ion-card-title>
        </ion-card>
        El plan corporativo te permite tener 15 obras activas y se te cobrará mensualmente
        <div>
          <ion-button size="large" class="ion-padding botonesComprar">Comprar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- PLANES DESKTOP -->
  <div class="planesDesktop">
    <div>
      <ion-card class="planes " style="background-color: #56B4E5">
        <ion-card-header>
          <ion-card-title class="ion-padding" style="color: white; font-size: 1.5vw; font-weight: 600;">PLAN POR OBRA
          </ion-card-title>

        </ion-card-header>
        <ion-card-content style="color: white;">
          <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

            <ion-card-title class="ion-padding" style="color:#6361ea ;">$5</ion-card-title>
          </ion-card>

          El plan por obra te permite tener 1 obra activa y se te cobrará mensualmente
          <div>
            <ion-button class="ion-padding botonesComprar" size="large" (click)="abrirModalObra()">Comprar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card class="planes " style="background-color: #FDB807">
        <ion-card-header>
          <ion-card-title class="ion-padding" style="color: white; font-size: 1.5vw; font-weight: 600;">PLAN MENSUAL
          </ion-card-title>

        </ion-card-header>
        <ion-card-content style="color: white;">
          <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

            <ion-card-title class="ion-padding" style="color:#6361ea ;">$20</ion-card-title>
          </ion-card>

          El plan mensual te permite tener 5 obras activas y se te cobrará mensualmente
          <div>
            <ion-button class="ion-padding botonesComprar" size="large" (click)="abrirModalMensual()">Comprar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card class="planes " style="background-color: #E05497">
        <ion-card-header>
          <ion-card-title class="ion-padding" style="color: white; font-size: 1.5vw; font-weight: 600; ">PLAN GALERIA
          </ion-card-title>

        </ion-card-header>
        <ion-card-content style="color: white;">
          <ion-card style="height: auto; width: 30%; float: left; margin-bottom: 10%;">

            <ion-card-title class="ion-padding" style="color:#6361ea ;">$40</ion-card-title>
          </ion-card>
          El plan corporativo te permite tener 15 obras activas y se te cobrará mensualmente
          <div>
            <ion-button class="ion-padding botonesComprar" size="large" (click)="abrirModalGaleria()">Comprar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
