<ion-app>
  <div *ngIf="!isDesktop">
    <ion-menu contentId="main" menuId="first" side="start" type="overlay" autohide="false" style="--min-width:100%">
      <ion-content>


        <ion-menu-toggle>
          <div style="margin-left: 5%; margin-bottom: 20%;" class="header-content">
            <!-- <img src="assets/cuadrado.jpeg" alt=""> -->

            <p>Eres artista?</p>

            <h2 routerLink="/login">
              Iniciar sesión
            </h2>




          </div>
          <ion-list class="menu-items" lines="none">
            <ion-item *ngFor="let c of componentes |async" [routerLink]="c.direccion">
              <ion-icon name="{{c.icono}}"></ion-icon>{{c.nombre}}
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <!-- <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon>
          Click me
        </ion-button>
      </div> -->

      </ion-content>
    </ion-menu>
  </div>

  <div *ngIf="isDesktop">
    <ion-header mode="ios" lines="none">
      <ion-toolbar>
        <ion-row style="height: auto ;" class="ion-align-items-center">
          <ion-col style="height: auto ;" size="2">
            <img src="./assets/logoSide.png" style="height: auto ; width: 70%;" class="logo ion-text-left">
          </ion-col>
          <ion-col size="8">
            <div class="navbar">
              <ion-button class="logo ion-text-left" *ngFor="let c of componentes |async" [routerLink]="c.direccion"
                fill="clear" routerLink="" routerDirection="root" routerLinkActive="active-link" class="link" style=" font-family: proxima-nova, sans-serif;
                font-weight: 500;
                font-style: normal;
                padding-left: 2%;
                font-size: 1em;">
                <ion-icon name="{{c.icono}}" class="ion-padding"></ion-icon>
                {{c.nombre}}
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="2">
            <div class="navbar" class="ion-text-center">
              <ion-button routerLink="/login" routerDirection="root" routerLinkActive="active-link" class="link" style=" font-family: proxima-nova, sans-serif;
              font-weight: 600;
              font-style: normal;
              padding-left: 1%;
              font-size: 1em;">
                Login
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
