<ion-app>
  <ion-menu contentId="main" menuId="first" side="start" type="overlay" autohide="false">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/cuadrado.jpeg" alt="">
        <ion-label>
          <h2>
            Nombre de usuario
          </h2> 
          <p>artist</p>
        </ion-label>
      </div>
      <ion-menu-toggle>
        <ion-list class="menu-items" lines="none">
          <ion-item *ngFor="let c of componentes |async" [routerLink]="c.direccion">
            <ion-icon name="{{c.icono}}"></ion-icon>{{c.nombre}}
          </ion-item>
        </ion-list>
      </ion-menu-toggle>

      <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon>
          Click me
        </ion-button>
      </div>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>


<!-- <ion-app>
  <ion-split-pane when="md" contentId="main">
      <ion-menu side="start" menuId="first" contentId="main">
          <ion-header>
              <ion-toolbar color="primary">
                  <ion-title>Start Menu</ion-title>
              </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-list>
                  <ion-menu-toggle *ngFor="let c of componentes |async" autoHide="false">
                      <ion-item [routerLink]="c.direccion" detail class="ion-text-capitalize">
                          <ion-icon [name]="c.icono" slot="start" color="primary"></ion-icon>
                          <ion-label>{{ c.nombre }}</ion-label>
                      </ion-item>
                  </ion-menu-toggle>
              </ion-list>
          </ion-content>
      </ion-menu>

      <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->
