*{
    font-family: proxima-nova, sans-serif;
}
.menu-header-bg{
    height: 180px;
    width: 350px;
    background:#6361ea ;
    background: linear-gradient(90deg, #6361ea 0%, #3f3ceb 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10% 10% 10% 50%;
    margin-left: -18%;
    margin-top: -30%;
    margin-bottom: 40%;
}