<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 style="
      font-family: proxima-nova, sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-left: 5%;
      
    ">
     <span style="color: #6361ea; font-family: proxima-nova, sans-serif;
    font-weight: 600;">ARt</span>
    Top Artists
  </h3>
  <ion-grid style="display: inline-block; padding-top: 5%;">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="2" *ngFor="let a of artistas" [routerLink]="a.direccion">

        <ion-card class="ion-no-margin" style="background-color: none;">
          <div class="artists">
            <img src="{{a.imagen}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{a.nombre}}</ion-card-title>

        </ion-card>



      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
