<ion-content>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon style="color: #6361ea;" name="chevron-back-outline"></ion-icon>

      <ion-button color="primary" (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div>
    <script>
      $("input[name='expiry-data']").mask("00 / 00");

    </script>
    <div class="wrapper">
      <div class="payment">
        <div class="payment-logo">
          <p>p</p>
        </div>


        <h2>Payment Gateway</h2>
        <div class="form">
          <div class="card space icon-relative">
            <label class="label">Nombre:</label>
            <input type="text" class="input" placeholder="Nombre de tarjeta">
            <i class="fas fa-user"></i>
          </div>
          <div class="card space icon-relative">
            <label class="label">Número de tarjeta:</label>
            <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Número de tarjeta">
            <i class="far fa-credit-card"></i>
          </div>
          <div class="card-grp space">
            <div class="card-item icon-relative">
              <label class="label">Expiración:</label>
              <input type="text" name="expiry-data" class="input" placeholder="00 / 00">
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="card-item icon-relative">
              <label class="label">CVV:</label>
              <input type="text" class="input" data-mask="000" placeholder="000">
              <i class="fas fa-lock"></i>
            </div>
          </div>

          <div class="btn" (click)="contratar()">
            Contratar plan mensual
          </div>

        </div>
      </div>
    </div>

  </div>

</ion-content>
