#container a {
  text-decoration: none;
  }
  #container{
    width: 95%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  model-viewer{
    width: 95%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
  }
