#container a {
  text-decoration: none;
}
#container {
  text-align: center;
  width: 90%;
  height: 55vh;
  margin-right: auto;
  margin-left: auto;
}

model-viewer {
  width: 90%;
  height: 55vh;
  margin-right: auto;
  margin-left: auto;
}



  ion-card {
    position: relative;
    text-align: center;
    box-shadow: red;
    overflow: hidden ;
    .card-title {
      position: absolute;
      bottom: 5%;
      
      width: 100%;
      color: #fff;
      font-size: 1.5em;
      
      
    }
    .img_card_cat{
      width: 100%;
      margin-bottom: -5px;
    }
  }

  

  


