#container a {
  text-decoration: none;
  }
  #container{
    text-align: center;
    width: 90%;
    height: 55vh;
    margin-right: auto;
    margin-left: auto;

  }

  model-viewer{
    width: 90%;
    height: 55vh;
    margin-right: auto;
    margin-left: auto;
  }

  