<ion-header class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-button *ngIf="login === false" slot="end" (click)="onClickLogin()">
      Login
    </ion-button>
    <ion-button *ngIf="login === true" slot="end" (click)="onClickProfile()">
      Perfil
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" style="margin-top:5%;">
    <div class="column">

      <div id="container" class="ion-padding logoImg">
        <model-viewer alt="Logo"
          src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FLogo3D%2Flogo3D.glb?alt=media&token=adde45f0-e96c-4fdb-b401-a7cef87f32a0"
          ios-src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FLogo3D%2Flogo3D.usdz?alt=media&token=47757493-b976-44bd-96f2-a545cf7e0484"
          ar unestable-webxr quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto"
          auto-rotate ar magic-leap camera-controls>
        </model-viewer>
      </div>
      <div style="margin-top: 12%;">
        <h3 class="textTitle">
          Experimenta ART en <br />
          Realidad Aumentada
        </h3>
        <h3 class="textSubTitle">
          ART yourself <br>
          be yourself
        </h3>
      </div>

    </div>
    <div class="column">
      <div id="container" class="ion-padding logoDesktop">
        <model-viewer alt="Logo"
          src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FLogo3D%2FlogoBlanco.glb?alt=media&token=51eb925d-4c0d-49c9-b753-ecbd425d40d8"
          ios-src="https://firebasestorage.googleapis.com/v0/b/art-in-augmented-reality.appspot.com/o/AppComponentes%2FModelos%2FLogo3D%2FlogBlanco.usdz?alt=media&token=8d0874cb-e02a-46a9-8122-c51d11229021"
          ar unestable-webxr quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto" style="--poster-color: transparent;
          background-color: unset;" poster="" auto-rotate ar magic-leap camera-controls>
        </model-viewer>
      </div>

    </div>
  </div>





  <h3 class="findArt">
    Encuentra tu <span style="color: #6361ea; font-family: proxima-nova, sans-serif;
    font-weight: 600;">ART</span>
  </h3>



  <ion-grid class="categories">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="2" *ngFor="let c of categorias" [routerLink]="c.direccion">

        <ion-card [routerLink]="c.direccion" class="ion-no-margin" style="background-color: none;">
          <div class="artists">
            <img src="{{c.imagen}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{c.nombre}}</ion-card-title>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <h3 class="findArt">
    Top <span style="color: #6361ea; font-family: proxima-nova, sans-serif;
    font-weight: 600;">ART</span>istas
  </h3>

  <ion-grid class="categories">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="2" *ngFor="let a of artistas" [routerLink]="a.direccion">

        <ion-card [routerLink]="a.direccion" class="ion-no-margin" style="background-color: none;">
          <div class="artists">
            <img src="{{a.imagen}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{a.nombre}}</ion-card-title>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>



</ion-content>
