<ion-header class="ion-no-border">
  <ion-toolbar class="menuPhone">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClickHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="row" style="margin-top: 10%;">
    <div class="column">
      <h3 class="textCat">
        <span>ARt</span>
        Digital
      </h3>
      <div id="container" class="ion-padding">
        <model-viewer alt="PruebaRobot" src="/assets/mantaraya.glb" ios-src="/assets/mantaraya.usdz" ar unestable-webxr
          quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto" auto-rotate ar magic-leap
          camera-controls>
        </model-viewer>
      </div>
    </div>
    <div class="column">
      <ion-list *ngFor="let d of digital">
        <ion-card [routerLink]="d.direccion" class="ion-no-margin" style="background-color: none;">
          <div class="artists">
            <img src="{{d.imagen}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{d.nombre}}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">${{d.precio}}</ion-card-subtitle>

        </ion-card>
      </ion-list>
    </div>
  </div>



</ion-content>
