<ion-content *ngIf=" user">
  <div class="row">
    <div class="column">
      <img src="{{user.imageUrl}}" class="artistimg"
        style="height:150px; border-radius: 50%; border: 5px solid #6361ea">

      <h4 style="
      text-align: center;
      padding-top: 5%;
      padding-bottom: 3%;
      color: #6361ea;
      font-family: proxima-nova, sans-serif;

      font-weight: 400;

      font-style: normal;
    ">
        {{user.name}} {{user.lastname}}
      </h4>

      <h5 style="
      text-align: center;


      color: #444444;
      font-family: proxima-nova, sans-serif;

      font-weight: 300;

      font-style: normal;
    ">
        {{user.country}}
      </h5>


      <h6 style="
      text-align: center;


      color: #444444;
      font-family: proxima-nova, sans-serif;

      font-weight: 300;
      margin-left: auto;
    margin-right: auto;
      font-style: normal;
      width: 80%;
      padding-bottom: 5%;
    ">
        "El arte es mi forma de vida, trabajo en ello vivo para ello"
      </h6>
    </div>
    <div class="column">
      <ion-list *ngFor="let obra of misObras">
        <ion-card routerLink="/articulo/{{obra.uid}}/{{obra.id}}" class="ion-no-margin"
          style="background-color: none; ">

          <div class="artists">

            <img src="{{obra.imagenObra}}" class="img_card_cat" />
          </div>
          <!-- <div class="card-title">Sculptures</div> -->
          <ion-card-title class="card-title">{{obra.nombre}}</ion-card-title>

          <ion-card-subtitle class="card-subtitle">${{obra.precio}}</ion-card-subtitle>

        </ion-card>
      </ion-list>
    </div>
  </div>



</ion-content>
