<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/cuadrado.jpeg" class="artistimg" style="height:150px; border-radius: 50%; border: 5px solid #6361ea" >

  <h4 style="
      text-align: center;
      padding-top: 5%;
      padding-bottom: 10%;
      color: #6361ea;
      font-family: proxima-nova, sans-serif;

      font-weight: 400;

      font-style: normal;
    ">
   Nombre Apellido Artista
  </h4>

</ion-content>
