<ion-content>

  <ion-button style="margin-top: 5%;" (click)="onClickBack()" fill="clear">
    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>

  </ion-button>



  <div class="row">
    <div class="column">
      <h4 *ngIf="obra" class="titulo">
        {{obra.nombre}}
      </h4>

      <div id="container" class="ion-padding">
        <model-viewer alt="articulo" #modelViewer src="" ios-src="" ar unestable-webxr
          quick-lock-browsers="safari chrome" shadow-intensity="1" interaction-prompt="auto" auto-rotate ar magic-leap
          camera-controls>
        </model-viewer>
      </div>


    </div>

    <div class="column" *ngIf="obra, users">
      <ion-card class="cardPhone">
        <ion-card-header>

          <ion-card-title style="text-align: center; color: #6361ea;" class="ion-padding">Información</ion-card-title>
          <h5 style="color: black; font-weight: 600;">Material</h5>
          <ion-card-content>
            {{obra.material}}
          </ion-card-content>
          <h5 style="color: black; font-weight: 600;">Dimensiones</h5>
          <ion-card-content>
            {{obra.dimensiones}}

          </ion-card-content>
        </ion-card-header>
      </ion-card>
      <ion-slides [options]="option" class="ion-margin-top">


        <ion-slide>
          <ion-card class="cardImg">
            <img src="{{obra.imagenObra}}">
          </ion-card>
        </ion-slide>


      </ion-slides>

      <h2 class="artista">Artista creador de la obra</h2>
      <ion-card>
        <ion-card-header>
          <img src="{{user.imageUrl}}"
            style="float: left; height: 25%; width: 25%; margin-right: 8%; border-radius: 100%;" alt="">
          <ion-card-title class="userName">{{user.name}} {{user.lastname}}</ion-card-title>

          <ion-card-subtitle class="info">{{user.country}}</ion-card-subtitle>
          <ion-card-subtitle class="info2">0{{user.phonenumber}}</ion-card-subtitle>



        </ion-card-header>

      </ion-card>
    </div>
  </div>


</ion-content>
